<h1><%= @room.short_desc %><br>
<small><%= time_ago_in_words(@room.created_at) %></small>
</h1>

<dl class="dl-horizontal">
	<dt>Price</dt>
	<dd><%= number_to_currency(@room.price)%></dd>
	<dt>Neighborhood</dt>
	<dd><%= @room.neighborhood.name %></dd>
  <dt>Floor Space</dt>
  <dd><%= "#{@room.size} sq ft" %></dd>
  <dt>Description</dt>
  <dd><%= @room.description %></dd>
  <dt>Contact</dt>
  <dd><%= mail_to(@room.user.email, @room.user.name) %></dd>
</dl>
